<nav aria-label="breadcrumb" class="max-w-7xl w-full mx-auto px-4 mb-5 md:px-8 mt-6 allingn-left text-left self-start">
  <ol class="flex items-center gap-2 font-mono text-secondary">
    <li>
      <a href="./index.html" class="text-secondary uppercase font-bold hover:underline hover:text-primary transition-all duration-300 ease-in-out">Inicio</a>
    </li>
    <li class="text-primary">/</li>
    <li class="text-primary font-special font-bold uppercase tracking-wider" aria-current="page">
      {{pagina_actual}}
    </li>
  </ol>
</nav>