@import "tailwindcss";

@theme {
  --color-primary: oklch(11.76% 0.0222 82.32deg);
  --color-secondary: oklch(76.18% 0.2368 82.32deg);
  --color-background: oklch(95.81% 0 0deg);

  --font-mono: "Roboto Mono", sans-serif;
  --font-title: "Climate Crisis", serif;
  --font-special: "Skranji", serif;
}

@import "@fortawesome/fontawesome-free/css/all.css";

@layer components {
  .item-lista {
    @apply relative pt-16 [counter-increment:brutal-counter] 
           before:content-[counter(brutal-counter)] before:absolute before:-top-8 before:left-0 
           before:font-title before:text-[4rem] before:text-secondary before:leading-none 
           before:[text-shadow:3px_3px_0_var(--color-primary)];
  }
  
  .caja-cita {
    @apply max-w-[700px] mx-auto mb-8 p-8 border-2 border-primary bg-primary/2 
           text-center opacity-100 leading-[1.8]
           shadow-[8px_8px_0_0_var(--color-secondary)];
  }
}
@layer components{
  .input-contacto {
      @apply w-full border-[3px] border-primary p-4 font-mono text-primary outline-none transition-all duration-300
        focus:bg-white focus:shadow-[4px_4px_0_0_var(--color-secondary)] focus:-translate-y-1;
  }

  .btn-contacto {
      @apply block w-full md:w-auto font-title text-2xl uppercase py-4 px-12 mt-4 cursor-pointer
      text-primary bg-secondary border-4 border-primary shadow-[6px_6px_0_0_var(--color-primary)] transition-all duration-200 ease-in-out;
      @apply hover:translate-x-1.5 hover:translate-y-1.5 hover:shadow-none hover:bg-primary hover:text-secondary;
  }
}
@layer components {
  .nav-link-animado {
    @apply inline-block w-max relative font-mono font-bold uppercase tracking-widest text-primary transition-colors duration-300 ;
    
    @apply after:content-[''] after:absolute after:h-0.75 after:bottom-[-4px] after:left-0 after:w-0 
           after:bg-secondary after:transition-[width] after:duration-300;
           
    @apply hover:text-secondary hover:after:w-full;
  }
}